* {

}

body {
	background-color:#e3ded1
}


h1 {
	color:transparent;
    font-family: Palatino;
    margin-top: 50px;
    margin-left: 30px; font-size:700%;
    -webkit-text-stroke-color:#fc4503;
    -webkit-text-stroke-width:1px;
    transform: translate(-70,+60);

 
}