body {
	background-color:#e3ded1;
}




button {
  border: none;
  color: white;
  background-color: #4CAF50;
  padding:1em 2em 1em 2em;
}


.padding-hover:hover {
	background-color: green;
	color:white;
	text-decoration: underline;
}




.container {

	background-image: url(https://github.com/ranyewest/gra-321/blob/master/code-exercises/img/joe-smile.JPG?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 700px;
	margin:0 auto;
	width:50%;

}


.layout {

	background-image: url(https://github.com/ranyewest/gra-321/blob/master/code-exercises/img/Custom%20Size%20%E2%80%93%201.png?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 700px;
	margin:0 auto;
	width:50%;

}


.iphone {

	background-image: url(https://github.com/ranyewest/gra-321/blob/master/code-exercises/img/Elqadah_newlayout2.png?raw=true);
	background-size: contain;
	background-repeat: no-repeat;
	height: 700px;
	margin:0 auto;
	width:50%;

}





/*---Media Queries---*/
@media screen and (max-width: 1000px) {
	body {

		background-color: LightSalmon;
	}
}

@media screen and (max-width: 500px) {
	body {
		background-color: MediumSeaGreen;
	}
}





h1 {
	color:#fc4503;
    font-family: Franklin Gothic;
    margin-top: 50px;
    margin-left: 30px; font-size:700%;
    
}



ul {

	 font-family: Franklin Gothic;
	 margin-top: 50px;
     margin-left: 30px;
     font-size: 200%;

}


h2 {font-family: Franklin Gothic;
	color:#fff;
	font-size:52px;
	position: relative;
	text-align: center;
}