* {

}


.button1 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #4CAF50
}





body {
	background-color:#e3ded1
}


h1 {
	color:#fc4503;
    font-family: Franklin Gothic;
    margin-top: 50px;
    margin-left: 30px; font-size:700%;
   

 
}



ul {

	 font-family: Franklin Gothic;
	 margin-top: 50px;
     margin-left: 30px;
     font-size: 200%;


}


