body {
	background-color: white;
}





h1 {
	color:#fc4503;
    font-family: Franklin Gothic;
    margin-top: 50px;
    margin-left: 30px; font-size:700%;
    
}


.container {

	margin: 20 auto;
	padding-left:6%;
	padding:6%;

}